body{
    background-image: url('pictures/Background_VCard.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #A8FFBD;
    margin-top:4.1vh;
    margin-bottom: 4.1vh;
    font-size: 1.5vmin;
}
#ProfilePic{
    width: 24vmin;
    height:auto;
}
.grid-container{
    display:grid;
    grid-template-columns: 31.25vw 36.46vw 32.29vw;
    grid-template-rows:29.16vh 58.16vh 12.5vh;
    justify-items: center;
    position: relative;
    height: 95vh;
    width:100wd;
}
.grid-item{
    /* background-color: white; */
    padding: 20px;
    border-radius: 10px;

}
.item2 div{
    background-color: white;
    border-radius: 10px;
    align-content: center;
    padding: 20px;
}
.item2 div img{
    border-radius: 10px;
}
.item3{
    width: 26vw;
    height: 15vh;
    background-color: #4FB667;
    align-self: flex-end;
    justify-self: left;
    margin-bottom: 8.5vh;
}
.item3 div{
    background-color: #4FB667;
}
.item3 div img{
    width: 5.2vw;
    height: auto;
    border-radius: 5px;
}
.item4,.item6{
    width: 26vw;
    justify-self: center;
    background-color: white;
    height: 15vh;
    font-size:1.25em;
    height: 54vh;
}
.item4 div,.item6 div{
    background-color: #6AE856;
    height: 51vh;
    width: 24vw;
    margin: auto;
    border-radius: 5px;
    padding: 0.75vmin;
}
.item5 {
    width: 26vw;
    justify-self: center;
    background-color: white;
    height: 41.5vh;
    align-self: flex-end;
    font-size:1.25em;

}
.item5 div{
    background-color: #6AE856;
    width: 24vw;
    height: 38vh;    
    margin:auto;
    border-radius: 5px;
    padding: 0.75vmin;

}
#item8{
    grid-column:1 / 4;
    background-color: #4FB667;
    margin: auto;
    width: 65vw;
    bottom: 5%;
    height:8.5vh;
    justify-self: flex-end;
    align-self: center;
    color: #A8FFBD;
    text-align: center;
}